/* 
    Delete all the comments here 
    Dont put any space after the =
*/
TOKEN={bot token}
YOUTUBE_API_KEY={yt api key}
RapidKey={rapid api key -> can get by going to rapid api site}
BitlyKey={bitly api key -> can get by going to bitly api site}
Mangadex_Username={mangadex username}
Mangadex_Password={mangadex password}
Server_invite={your server invite link}
validatePhone={api key for validatephone}
validateMail={api key for validatemail}
MONGODB_SRV={mongodb srv key}
Genius_Key={genius api key -> can get by going to genius api site}